:root {
  /* Colors for texts */
  --color-text-warning: #f74f4f;
  --color-text-second: rgba(195, 214, 255, 0.7);
  --color-text-main: #ffffff;

  /* Colors for backgrounds*/
  --color-bg-success: #08ff84;
  --color-bg-warning: #f74f4f;
  --color-project: #cadafb;
  --color-bg-status: #ffffff;

  /* Colors for box shadow property */
  --color-box-shadow-warning: rgba(247, 79, 79, 0.2);
  --color-box-shadow-white: rgba(255, 255, 255, 0.6);
}
