:root {
  /* Texts */
  --color-text-warning: #f74f4f;
  --color-text-second: #cadafb;
  --color-text-header: #ffffff;

  /*Backgrounds*/
  --color-bg-success: #08ff84;
  --color-bg-warning: #f74f4f;
  --color-project: #cadafb;
  --color-bg-status: #ffffff;

  /*Box shadow*/
  --color-box-shadow-warning: rgba(247, 79, 79, 0.2);
}
